<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TerraTrade</title>
</head>
<body>
    <h1 id = "titleh1">TerraTrade</h1>
    <h2 id = "titleh2">Produce Entry Portal</h2>
    <form id = "myForm" enctype="multipart/form-data">
        
        <label for = "farmerName">Name:</label>
        <input id = "farmerName" name = "farmerName" type = "text" placeholder = "Farmer's Name">

        <label for = "dob">Produce Name:</label>
        <input id = "producename" type  = "text" name = "produceName">

        <label for = "contactNumber">Phone number:</label>
        <input id = "contactNumber" name = "contactNumber" type = "number" placeholder = "+91..........">

        <label for = "grade">Grade:</label>
        <input id = "grade" name = "grade" type = "text" placeholder = "A/B/C">

        <label for = "harvestdate">Harvested Date:</label>
        <input id = "harvestdate" name = "harvestDate" type = "text" placeholder = "dd/mm/yyyy">

        <label for = "quantity">Quantity:</label>
        <input id = "quantity" name = "quantity" type = "text">

        <label for = "fairprice">Fair price:</label>
        <input id = "fairprice" name = "fairPrice" type = "number">

        <button type = "submit">Submit</button>
    </form>
<script src = "../produceDetails.js"></script>
</body>
</html>